.background {
  background-repeat: no-repeat;
  background-position: right;
  background-size: 436px 1005px;
  margin-left: 16px;
}

:host ::ng-deep .po-menu-collapse-button,
:host ::ng-deep .po-menu-item,
:host ::ng-deep .po-menu-item-no-data {
  color: #fa9092;
}

:host ::ng-deep .po-page-default,
:host ::ng-deep .po-page-content,
:host ::ng-deep .po-page-content,
:host ::ng-deep .po-wrapper,
:host ::ng-deep .po-page {
  background-color: #f5f5f5;
}

.titles {
  margin-left: 100px;
  background-color: #f5f5f5;
  width: 100%;
}

.title {
  font-size: 80px;
  font-weight: bold;
}

.subtitle {
  font-size: 30px;
  font-style: italic;
}

:host ::ng-deep .po-menu {
  background-color: white;
}

:host ::ng-deep .po-icon-menu-close {
  color: #fa9092;
}

:host ::ng-deep .po-icon-menu-open {
  color: #fa9092;
}

:host ::ng-deep .po-menu-item-wrapper {
  padding: 0px;
  margin-top: 167px;
}
