//.background{
    //background-size: 536px 1005px;
    //background-repeat: no-repeat;
    //display: block;
    //margin-left: 660px;
    //background-position: top;
    //margin-top: 1px;
    //background-color: red;

//}

.background{
    background-repeat: no-repeat;
    background-position: right;
    background-size: 436px 1005px;
    margin-left: 16px;
}
