<body
  class="body"
  background=".\assets\background-covid-toolbar(2).jpg"
  class="background"
>
  <span class="po-lg-8 po-md-8 po-sm-8 po-pm-8">
    <div>
      <h3 class="title-graph">Casos de Covid pelo Mundo ao Ano</h3>
    </div>
    <canvas
      class="graphGlobal"
      baseChart
      height="60"
      [datasets]="lsLinhasPaises"
      [labels]="graphEvoFooter"
      [options]="graphEvoOptions"
      [legend]="graphEvoShowLegend"
      [chartType]="graphEvoTipo"
    >
    </canvas>
  </span>
  <span class="po-lg-5 po-md-5 po-sm-5 po-pm-5">
    <div>
      <h3 class="title-graph">Comparativo de Casos de Covid pelo Mundo</h3>
    </div>
    <canvas
      class="pieGlobal"
      baseChart
      [data]="pieChartComparativeGlobalData"
      [labels]="pieChartComparativeGlobalLabels"
      [options]="pieChartComparativeGlobalOptions"
      [chartType]="pieChartComparativeGlobalType"
    ></canvas>
  </span>
  <span class="po-lg-5 po-md-5 po-sm-5 po-pm-5">
    <div>
      <h3 class="title-graph">Avanço do Covid no País</h3>
    </div>
    <canvas
      class="lineGlobal"
      baseChart
      [datasets]="lsLinhasPais"
      [labels]="splineChartComparativeGlobalLabels"
      [options]="splineChartComparativeGlobalOptions"
      [chartType]="splineChartComparativeGlobalType"
    ></canvas>
  </span>
</body>

<!-- [colors]="graphEvoLineProp" -->
